apiVersion: v1
kind: PersistentVolume
metadata:
  name: gp-1-pv
spec:
  storageClassName: ""
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.56
    path: /Volume1/public/nfs-share-openshift/project-gp-1
